{% extends "layout.html" %}

{% block title %}Data Barang{% endblock %}

{% block content %}
<div class="keluar-back">
    <a href="{{ url_for('admin_dashboard') }}" class="btn-back">Back</a>
</div>
<section class="stok-keluar">
    <h2>Data Barang</h2>
    {% if data %}
    <table class="data-barang-table">
        <thead>
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Tanggal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Data barang tidak tersedia.</p>
    {% endif %}
</section>
{% endblock %}